et-xmlfile==1.1.0
openpyxl==3.0.7

#Original Pillow version (excluded due to security reasons ==> https://github.com/advisories/GHSA-m2vv-5vj5-2hm7)
#Pillow==8.3.2

#Updated Pillow version (should work just fine)
Pillow==10.0.1
